@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--Dark-Gray: hsl(0, 0%, 55%);
--Very-Dark-Gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-size: 15px;
  /* font-family: 'Alata', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header__menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.main__menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
} 

.main__menu ul li {
  display: inline-block;
  position: relative;
}

.main__menu ul li a {
  font-size: 16px;
  font-weight: normal;
  color: var(--White);
  display: block;
  margin-left: 50px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.main__menu ul li a:hover {
  border-bottom: 1px solid var(--White);
} 

.hero {
  position: relative;
  z-index: 1;
  background-image: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
}

.hero::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  z-index: -1 ;
}

.main__hero {
  padding-top: 200px;
}

.main__hero h1 {
  border: 2px solid var(--White);
  padding: 20px 30px;
  display: inline-block;
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  color: var(--White);
  letter-spacing: 5px;
}

.leader__main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.leader__linker {
  position: relative;
  z-index: 1;
}

.leader__desc {
  position: absolute;
  left: 40%;
  bottom: 0%;
  background-color: var(--White);
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 2;
}

.leader__desc h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 50px;
  color: var(--Black);
  margin-bottom: 20px;
}

.leader__desc p {
  font-size: 16px;
  font-weight: 600;
  color: var(--Dark-Gray);
  line-height: 2;
}

